{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Contact Us</h2>
        <p>We’d love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to reach out to us.</p>
        <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> sheikhsaad780@gmail.com</li>
            <li class="list-group-item"><strong>Phone:</strong> 0314-4480830</li>
            <li class="list-group-item"><strong>Address:</strong> VU Frozen Food, Lahore City,</li>
        </ul>
        <p>Send us a message, and We will get back to you as soon as possible!</p>
    </div>
{% endblock %}